sudo: required
services:
  - docker

before_install:
  - docker build -t accarter/docker-demo -f Dockerfile.dev .

script:
  - docker run -e CI=true accarter/docker-demo npm run test -- --coverage

language: generic

deploy:
  provider: elasticbeanstalk
  region: 'us-east-1'
  app: 'docker-demo'
  env: 'Dockerdemo-env'
  bucket_name: 'elasticbeanstalk-us-east-1-888213898874'
  bucket_path: 'docker-demo'
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
	secret_access_key: $AWS_SECRET_KEY
  